.container {
    margin-top: 5em;
    margin-bottom: 5em;
    margin-left: 25em;
    margin-right: 25em;
}

#columnchart_material {
    margin-top: 5em;
    margin-bottom: 5em;
}

#infos-calcul {
    margin-top: 5em;
}

a{
    text-decoration: underline;
    color: black;
}

body{
    font-family: 'SF Pro Display','Arial','Roboto', sans-serif;
}